<div>
    <h1>Beacon Board</h1>
    <p>To answer the question '<i>To what extent can iBeacons be used to aid resource distribution in an academic setting?</i>' a system was needed to be built to assist the feasibility study. The system is of two parts, a Mobile App and an API.</p>
</div>