@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    
        <style type="text/css">
            *
            {
                font-family: Arial;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <hgroup>
            <h1>Sorry an error occurered.</h1>
        </hgroup>
    </body>
</html>
